.NavBarContainer {
  background-color: rgb(245, 244, 244);
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
}
.NavBarContainer h2 {
  color: rgb(83, 131, 221);
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: 2rem;
}
